.pageContainer {
	display: flex;
	flex-direction: row;
	padding: 2vw;
}

.layoutContainer {
	display: flex;
	flex-direction: column;
	padding: 5px;
	//background-color: var(--accent-color);
	position: relative;
	width: 50vw;

	.overLay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.layoutWrapper {
		box-shadow: 0px 0px 21px -5px var(--dark);
		height: max-content;
		margin-bottom: 20px;
		position: relative;

		.pageToolBar {
			background-color: white;
			width: fit-content;
			display: flex;
			flex-direction: row;
			visibility: hidden;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
		}

		.pageLoader {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: var(--dark-mask);
		}

		&:hover .pageToolBar {
			visibility: visible;
		}
	}

	div[class*="layout_mainLayout"] {
		--doc-width: 44vw !important;
	}
}

