.container {
    width: 100%;
    left: 0px;
    font-family: arial black;
    /* position: sticky; */
    top: 0px;
    z-index: 50;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5vh;
    padding-right: 5vh;
    height: 63px;
    font-weight: 700;
    margin-top: 8px;
    font-size: 15px;
    align-items: center;
    .headerLeft {
        display: flex;
        gap: 10px;
        align-items: center;

        .headerLogo {
            background-image: url('../../../../../public/assets/icons/logos/logo2.png');
            background-size: cover;
            height: 60px;
            width: 60px;
        }

        .headerName {
            font-size: 30px;
        }
    }

    .headerLinkContainer {
        display: flex;
        flex-direction: row;
        justify-content: end;
        gap: 50px;
        height: 25px;

        .mydocuments {
            color: var(--font-color);
        }
    }

    .templatesButton {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }

    .templatesButton:hover {
        transform: scale(1.5);
    }

    .registerButton {
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
    .registerButton:hover {
        transform: scale(1.5);
    }

    .brandLogo {
	    height: 80px;
	    width: auto;
	    cursor: pointer;
    }

    .loginDetails {
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .name {
        margin-right: 20%;
    }

    .photo {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
        border-radius: 50%;
        border-width: 1px;
        background-color: rgb(0, 75, 145);
        color: #f8f8f8;
        cursor: pointer;
    }

    .dropDownProfile {
        padding-bottom: 20px;
        color: #f8f8f8;
        border-radius: 20px;
        background-color: #282828ff;
        overflow: hidden;

        hr {
            background-color: rgb(0, 0, 0);
            color: rgb(0 0 0);
        }
    }

    .firstcontainer {
        min-width: 190px;
    }
}

.menu {
    .dropDownTopContainer {
        padding: 20px;
        display: flex;

        .menuphoto {
            margin-right: 15px;
            justify-content: center;
            align-items: center;
            display: flex;
            width: 40px;
            height: 40px;
            border-radius: 100%;
            border-width: 1px;
            background-color: rgb(0, 75, 145);
            color: white;
            width: 40px;
            cursor: pointer;
        }
    }

    .functionalities {
        margin-top: 1px;

        .logOutButton {
            display: flex;
            align-items: center;
            cursor: pointer;
            padding: 10px 20px;
            margin-top: 5px;
            gap: 5px;
        }
    }

    .icons {
        margin-left: 20px;
        margin-right: 20px;
        cursor: pointer;
        padding-top: 5px;

        img {
            height: 20px;
            width: 20px;
        }
    }

    .logOutButton:hover {
        background-color: var(--menu-item-hover-bg);
    }
}
