.container {

	.aboutDetails {
		padding: 10px 20px;

		.intro {
			.name {
				font-size: 1.8em;
				font-weight: 600;
			}

			.profession {
				font-style: italic;
			}

			.bio {
				margin-top: 5px;
				text-align: justify;
				font-size: 1.1em;
				line-height: 1.2em;
			}
		}
	}

	.contactDetails {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 5px 10%;

		& > div {
			width: 45%;
			display: flex;
			flex-direction: row;
			align-items: center;
			margin: 5px 0;

			header {
				margin-left: 5px;
				font-size: 1em;
			}

			a {
				text-decoration: none;
				color: inherit;
			}
		}

		& > div:nth-child(even) {
			margin-left: 5%;
		}
	}
}


.modalContainer {
	width: 700px;
	min-height: 500px;
	padding: 10px;
	display: flex;
	flex-direction: column;

	.modalTitle {
		margin-bottom: 10px;
	}

	.submitButton {
		display: flex;
		gap: 10px;
	}

	.modalSecondContainer {
		margin-bottom: 20px;
		flex: 1;

		.inputRow {
			width: 100%;
			display: flex;
			gap: 20px;

		}

		.address, .textfield {
			width: 100%;
			margin: 20px 0;
		}
	}

	.switchButton {
		display: flex;
		justify-content: center;
	}
}


