.container{
    .sectionToolBar {
        width: 30px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        background-color: var(--dark-bg-secondary);
        color: var(--light);
        box-shadow: 2px 2px 10px 0px var(--dark-mask);
        z-index: 10;

	* {
		font-size: 16px !important;
	}

	.addButton {
		cursor: pointer;
		align-items: center;
		justify-content: center;
		display: flex;

		.addButtonIcon {
			width: 22px;
		}
	}
}
    .workExperienceDetailsSectionsContainer{
        display: flex;
        flex-direction: row;
        .workExperienceDetailsLeftSections{
            width: 120px;
            margin-right: 8px;
            word-break: break-word;
        }
        .workExperienceDetailsRightSectionsIcon{
            margin-right: 9px;
            width: 15px;
            float: left;
            z-index: 1;
        }
        .workExperienceDetailsElementContainer{
            position: relative;
            padding: 8px 0;
        }
        .workExperienceDetailsElementInstitutionName{
            align-items: center;
            font-size: 1.3em;
            font-weight: 500;
            font-style: italic;
            color: #2b425e;
            display: flex;
            word-break: break-word;
        }
        .workExperienceDetailsElementContainer:after {
            margin-right: 16px;
            content: " ";
            position: absolute;
            border-left: 2px #6c757d solid;
            top: 0%;
            right: 100%;
            height: 100%;
        }
    }
    .workExperienceDetailsList{
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        width: 100%;
        height: fit-content;
        position: relative;
            
            .workExperienceDetailsElement{
                opacity: 1;

                .workExperienceDetailsElementTitle{
                    font-size: 1.3em;
                    font-weight: 600;

                }
                ul.workExperienceDetailsElementCompanyName{
                    list-style-position: outside;
                }
                .workExperienceDetailsElementCompanyName{
                    padding: 6px 14px;
                    border-radius: 8px;
                }
                .workExperienceDetailsElementCompanyName , .workExperienceDates{
                    font-weight: 500;
                    font-size: 1em;
                    font-style: italic;
                    color: #2b425e;
                    width: fit-content;

                    .workExperienceDetailsElementStarting{
                        margin-right: 5px;
                    }
                }

                .workExperienceDetailsElementLink{
                    color: #0000ff;
                    text-decoration: none;
                    width: fit-content;
                }
            }
        
            &:hover .workExperienceDetailsElement {
                opacity: 0.5;
                transition: 0.5s ease-in-out;
            }
           .editAndDeleteIconsContainer{
            flex-direction: column;
            position: absolute;
            top: 2px;
            right: 8px;
            opacity: 0;
            display: flex;
            padding: 20px 0;
            z-index: 10;
        }
        &:hover .editAndDeleteIconsContainer {
            opacity: 1;
            transition: 0.5s ease-in-out;
        }


        .workExperienceDates{
            display: flex;
        }
    }
    .addButtonDiv{
        position: absolute;
        top: 0%;
        left: 98%;
        opacity: 0;
    }
    &:hover .addButtonDiv {
        opacity: 1;
        transition: 0.5s ease-in-out;
    }

    
    .addButtonContainer{
        opacity: 0;
        cursor: pointer;
    }
    &:hover .addButtonContainer {
        opacity: 1;
        transition: 0.5s ease-in-out;
    }
}


.modalContainer{
    width: 550px;
    padding: 20px;
    overflow: auto;
    height: 462px;

    .modaltitle{
        width: fit-content;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid var(--font-color);
    }

    .submitButton {
		padding: 15px 0;
		display: flex;
		justify-content: space-between;

	}

    .inputContainer{

        .inputRow{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .inputBox {
			width: 48%;
			font-size: 12px;

			input, textarea, label{
				font-size: 14px !important;
			}

		}

        .info{
            width: 100%;
            font-size: 12px;
            margin-bottom: 20px;

            input, textarea, label{
				font-size: 14px !important;
			}
        }

        .infoListArea{
            display: flex;
            flex-direction: column;
            font-size: 12px;

            .inputInfoAndAddButtonContainer{
                display: flex;
                justify-content: space-between;

                .addButton{
                    margin-top: 17px;
                    height: 29px;
                    margin-left: 30px;
                }
            }
            .workContainer{
                display: flex;
                justify-content: space-between;

                .removeButton{
                    background: transparent;
                    color: var(--font-color);
                }
            }
        }
        
    }

}

