.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    //border: 2px solid red;


    .selectLayout {
        margin-right: 100px;
    }

    .layoutContainer {
        display: flex;
        flex-direction: column;
        padding: 5px;
        //background-color: var(--accent-color);

        .layoutWrapper {
            box-shadow: 0px 0px 21px -5px var(--dark);
            height: max-content;
            margin-bottom: 20px;
			position: relative;

			.pageToolBar {
				background-color: white;
				width: fit-content;
				display: flex;
				flex-direction: row;
				visibility: hidden;
				border-top-left-radius: 4px;
				border-top-right-radius: 4px;
			}

			.pageLoader {
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				display: flex;
				align-items: center;
				justify-content: center;
				background-color: var(--dark-mask);
			}

			&:hover .pageToolBar {
				visibility: visible;
			}
        }
    }

	.newPageToolBar {
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-bottom: 40px;

		button {
			border-radius: 20px;
		}

		svg {
			margin-right: 5px;
		}
	}
}

.pdfViewer {
    margin-top: 40px;
    width: 650px;
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 5px;
    background-color: var(--accent-color);


    iframe {
        width: 100%;
        height: 85vh;
    }
}
