.container{

    .sectionToolBar {
        width: 30px;
        height: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 20px;
        background-color: var(--dark-bg-secondary);
        color: var(--light);
        box-shadow: 2px 2px 10px 0px var(--dark-mask);
        z-index: 10;

	* {
		font-size: 16px !important;
	}

	.addButton {
		cursor: pointer;
		align-items: center;
		justify-content: center;
		display: flex;

		.addButtonIcon {
			width: 22px;
		}
	}
    }
    .achievementsDetailsList{
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        position: relative;
        width: 100%;
            
            .achievementsDetailsElement{
                opacity: 1;
                font-style: normal;

                .achievementsDetailsElementTitle{
                    font-size: 1.2em;
                    font-weight: 600;
                    display: list-item;
                }
                .achievementsDetailsElementInstitutionName {
                    align-items: center;
                    font-size: 1em;
                    font-weight: 400;
                    color: #2b425e;
                    display: flex;
                    word-break: break-word;
                    width: fit-content;
                    display: flex;
                    align-items: start;
                    .info{
                        margin-left: 8px;
                        word-break: break-word;
                    }
                }
            }
        
            &:hover .achievementsDetailsElement {
                opacity: 0.5;
                transition: 0.5s ease-in-out;
            }

        .editRemoveButtonDiv{
            flex-direction: column;
            position: absolute;
            top: 18%;
            left: 98%;
            opacity: 0;
            display: flex;
    
            Button{
                margin-right: 5px;
            }
        }
           &:hover .editRemoveButtonDiv {
           opacity: 1;
           transition: 0.5s ease-in-out;
       }
    }


    .editAndDeleteIconsContainer{
        flex-direction: column;
        position: absolute;
        top: 2px;
        right: 8px;
        opacity: 0;
        display: flex;
        padding: 20px 0;
        z-index: 10;
    }
    &:hover .editAndDeleteIconsContainer {
        opacity: 1;
        transition: 0.5s ease-in-out;
    }

    .addButtonContainer{
        opacity: 0;
        cursor: pointer;
    }
    &:hover .addButtonContainer {
        opacity: 1;
        transition: 0.5s ease-in-out;
    }
}


.modalContainer{
    width: 550px;
    padding: 20px;

    .modaltitle{
        width: fit-content;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid var(--font-color);
    }

    .submitButton {
		padding: 15px 0;
		display: flex;
		justify-content: space-between;

	}

    .inputContainer{

        .inputRow{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .inputBox {
			width: 48%;
			font-size: 12px;

			input, textarea, label{
				font-size: 14px !important;
			}

		}
    }

}

