
.container{
    .addButtonDiv{
        position: absolute;
        top: 2px;
        right: 8px;
        opacity: 0;
    }
    &:hover .addButtonDiv {
        opacity: 1;
        transition: 0.5s ease-in-out;
    }

    .sectionToolBar {
        width: 32px;
        height: 32px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        border-radius: 50%;
        background-color: var(--dark-bg-secondary);
        color: var(--light);
        box-shadow: 2px 2px 10px 0px var(--dark-mask);
        z-index: 10;

	* {
		font-size: 16px !important;
	}

	.addButton {
		cursor: pointer;
		align-items: center;
		justify-content: center;
		display: flex;

		.addButtonIcon {
			width: 22px;
		}
	}
    }
    .projectsDetailsList{
        display: flex;
        align-items: flex-end;
        cursor: pointer;
        width: fit-content;
        height: fit-content;
        position: relative;
        width: 100%;
            
        .projectsInfoContainer{
            display: flex;
            word-break: break-word;
        }
            .projectsRightSectionsIcon{
                height: 22px;
                display: flex;
                margin-right: 8px;
                width: 8px;
                float: left;
                z-index: 1;
            }
            .projectsDetailsElement{
                opacity: 1;
                font-style: normal;

                .projectsDetailsElementTitle{
                    font-size: 1.4em;
                    font-weight: 700;
                    display: list-item;
                }
                .projectsDetailsElementInstitutionName {
                    align-items: center;
                    font-size: 1.3em;
                    font-weight: 500;
                    font-style: italic;
                    color: #2b425e;
                    display: flex;
                    word-break: break-word;
                    width: fit-content;
                }
                .projectsDates{
                    font-weight: 500;
                    font-size: 1em;
                    font-style: italic;
                    color: #2b425e;
                    display: flex;

                    .projectsDetailsElementStarting{
                        margin-right: 5px;
                    }
                }
                .projectsDetailsScoreDetailsContainer{
                    display: flex;
                }
            }
        
            &:hover .projectsDetailsElement {
                opacity: 0.5;
                transition: 0.5s ease-in-out;
            }
            .editAndDeleteIconsContainer{
                flex-direction: column;
                position: absolute;
                top: 2px;
                right: 8px;
                opacity: 0;
                display: flex;
                padding: 20px 0;
                z-index: 10;
            }
            &:hover .editAndDeleteIconsContainer {
                opacity: 1;
                transition: 0.5s ease-in-out;
            }

        .projectsDates{
            display: flex;
        }

    }

    .addButtonContainer{
        opacity: 0;
        cursor: pointer;
    }
    &:hover .addButtonContainer {
        opacity: 1;
        transition: 0.5s ease-in-out;
    }

}


.modalContainer{
    width: 550px;
    padding: 20px;
    height: 334px;
    overflow: auto;

    .modaltitle{
        width: fit-content;
        font-size: 18px;
        font-weight: 500;
        border-bottom: 1px solid var(--font-color);
    }

    .submitButton {
		padding: 15px 0;
		display: flex;
		justify-content: space-between;

	}

    .inputContainer{

        .inputRow{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        .inputBox {
			width: 48%;
			font-size: 12px;

			input, textarea, label{
				font-size: 14px !important;
			}

		}
    }
            .info{
            width: 100%;
            font-size: 12px;
            margin-bottom: 20px;

            input, textarea, label{
				font-size: 14px !important;
			}
        }

        .infoListArea{
            display: flex;
            flex-direction: column;
            font-size: 12px;

            .inputInfoAndAddButtonContainer{
                display: flex;
                justify-content: space-between;

                .addButton{
                    margin-top: 17px;
                    height: 29px;
                    margin-left: 30px;
                }
            }
            .workContainer{
                display: flex;
                justify-content: space-between;

                .removeButton{
                    background: transparent;
                    color: var(--font-color);
                }
            }
        }

}

