
.editRemoveButtonDiv{
    height: 56px;
    width: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background-color: var(--dark-bg-secondary);
    color: var(--light);
    box-shadow: 2px 2px 10px 0px var(--dark-mask);
    z-index: 10;
    .buttonContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 24px;
        width: 24px;
	* {
		font-size: 16px !important;
	}

	.editButton , .deleteButton {
		cursor: pointer;
		align-items: center;
		justify-content: center;
		display: flex;

		.buttonIcon {
			width: 22px;
		}
	}
    }
}




