//Edit Icon

.sectionEditIconContainer {
	position: absolute;
	right: 0;
	top: 2px;
	transform: translateX(calc(100% - 38px));
	display: none;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border-radius: 50%;
	width: 32px;
	height: 32px;
	padding: 16px;
	background-color: var(--dark-bg-secondary);
	color: var(--light);
	box-shadow: 2px 2px 10px 0px var(--dark-mask);
	z-index: 10;

	* {
		font-size: 16px !important;
	}

	.sectionEditIconBody {
		cursor: pointer;
		align-items: center;
		justify-content: center;
		display: flex;

		.sectionEditIcon {
			width: 16px;
			height: 16px;
		}
	}
}

[class^="layoutBlock"]:hover .sectionEditIconContainer {
	display: flex;
}

// Section Modal Container
.modalHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #1e2840;
    width: 100%;
    padding: 16px;

    .modalTitle {
        font-size: 1em;
        display: flex;
        color: var(--light);
        flex-direction: column;
    }

    .saveButton {
        cursor: pointer;
        justify-content: center;
        display: flex;
        width: 80px;
        background-color: var(--bg-accent);
        border-radius: 6px;
        padding: 4px 8px;
        font-size: 0.7em;
        color: var(--light);
    }
}

.inputGroup {
    align-items: center;
    justify-content: space-between;
    margin: 16px;
    display: flex;

    .inputBox {
        border-radius: 6px;
        width: 288px;

        input {
            padding: 10px 16px;
        }
    }

    .modalAddButton {
        height: 36px;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: fit-content;
        background-color: var(--bg-accent);
        border-radius: 6px;
        padding: 4px 12px;
        margin: 3px 5px;
        color: var(--light);
    }
}
.itemListModal{
    height: 300px;
    overflow: auto;
}

.listGroup {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background: #1e2840;
    border-radius: 6px;
    padding: 8px 16px;
    margin-bottom: 12px;

    .listItem {
        font-size: 0.7em;
        color: var(--light);
        width: 70%;
    }

    .removeButton {
        background: transparent;

        .removeIcon {
            color: var(--font-color);
        }
    }
}

.interestListModal {
    margin: 0 16px 16px 16px;
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}