[data-tooltip] {
	position: relative;
}

[data-tooltip]:after {
	font-size: 12px;
	border-radius: 4px;
	content: attr(data-tooltip);
	padding: 4px 8px;
	position: absolute;
	left: 50%;
	top: calc(90% + 10px);
	transform: translateX(-50%);
	white-space: nowrap;
	z-index: 100;
	background-color: var(--black);
	color: var(--light);
	display: inline-block;
	visibility: hidden;
	opacity: 0;
}

[data-tooltip]:before {
	content: '';
	position: absolute;
	left: 50%;
	top: calc(90% + 0px);
	transform: translateX(-50%);
	border-left: 6px solid transparent;
	border-bottom: 6px solid var(--black);
	border-right: 6px solid transparent;
	border-top: 6px solid transparent;
	display: inline-block;
	visibility: hidden;
	opacity: 0;
}

[data-tooltip]:hover:after, [data-tooltip]:hover:before {
	visibility: visible;
	opacity: 1;
	transition-property: opacity;
	transition-duration: 0.2s;
	transition-timing-function: ease-in-out;
	transition-delay: 0.5s;
}