.title {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	height: 15vh;
	margin-left: 5vw;
	margin-right: 5vw;

	.CreatDocument button {
		background: rgb(46, 126, 179);
		color: #fff;
		font-size: 14px;
		padding: 10px;
		border-radius: 10px;
		transition: all 0.3s ease;
		display: flex;
		border: 2px solid rgb(46, 126, 179);
	}

	.CreatDocument button:hover {
		color: var(--font-color);
		background: transparent;
	}
}

.templateListContainer {
	display: flex;
	flex-direction: column;
	padding: 0 5vw;

	.templateList {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
		gap: 32px;

		.templateItemContainer {
			display: flex;
			flex-direction: row;
			width: 100%;
			.resumeItem {
				position: relative;
				overflow: hidden;
				box-shadow: 1px 4px 8px -1px var(--dark);
				border-radius: 4px;

				.docDetails {
					position: absolute;
					top: 0;
					left: 0;
					background: linear-gradient(to top, var(--dark-bg-mask), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
					width: 100%;
					max-width: 100%;
					height: 100%;
					display: flex;
					align-items: flex-end;
					cursor: pointer;

					.hoverEffect {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						overflow: hidden;
						background-color: var(--dark-bg-secondary);
						border-radius: 5px;
						color: var(--light);
						opacity: 0;
						padding: 5px 10px;

					}

					.hoverEffectBg {
						position: absolute;
						top: 50%;
						left: 50%;
						transform: translate(-50%, -50%);
						width: 0;
						height: 0;
						border-radius: 50px;
						background: var(--dark-bg-mask);
					}

					&:hover .hoverEffect {
						opacity: 1;
						transition: 0.5s ease-in-out;
					}

					&:hover .hoverEffectBg {
						transition: 0.3s;
					}

					.info {
						max-width: 100%;
						width: 100%;
						padding: 10px;

						header {
							box-sizing: border-box;
							text-overflow: ellipsis;
							white-space: nowrap;
							overflow: hidden;
							width: 80%;
							font-size: 14px;
							font-weight: 500;
							color: var(--light);
							text-transform: capitalize;
						}

						header:nth-of-type(2) {
							font-size: 12px;
							font-weight: 300;
							color: var(--light-1);
						}
					}

				}
			}

			.templateSettings {
				margin-left: 40px;
				width: fit-content;

				.flexRow {
					display: flex;
					flex-direction: row;
					align-items: center;
				}
			}
		}


	}
}
