.toastContainer {

  header {
    margin-bottom: 4px;
    width: fit-content;
  }

  p {
    margin: 0;
    font-size: 12px;
  }
}

.loadingToast {
  display: flex;
  flex-direction: row;
  gap: 8px;
}