.container {
	.viewer {
		overflow: hidden;
	}

	iframe {
		border: none;
		padding: 0;
		background-color: white;

		body {
			overflow: hidden;
		}
	}
}

.overLay {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0);
}
