.adjustSizeContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 10px 0;

	.btn {
		height: 20px;
		cursor: pointer;

		&:hover {
			transform: scale(1.1);
		}

		img {
			width: 20px;
			height: 20px;
		}

	}

	.scale {
		margin: 0 10px;
		font-size: 10px;
		height: fit-content;
		padding: 6px 15px;
		background-color: var(--bg-color-secondary);
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		box-shadow: 0 2px 10px 0 var(--dark-mask);

		.indicator {
			padding: 0 6px;
			margin: 0 2px;
			border-radius: 2px;
			width: 3px;
			height: 20px;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;

			header {
				background-color: var(--font-color);
				width: 1px;
				height: 8px;
				border-radius: 4px;
			}

			&:hover header {
				height: 2em;
			}
		}

		.active {
			header {
				width: 2px;
				background-color: var(--accent-color);
				height: 2em;
			}
		}
	}
}
