.container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--bg-mask-1);
	z-index: 100;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	.apiList {
		display: flex;
		flex-direction: column;
		padding: 10px;

		.title {
			font-size: 25px;
			font-weight: 600;
		}

		header {
			display: flex;
			flex-direction: row;
			align-items: center;

			header {
				margin-left: 10px;
				font-size: 18px;
				font-weight: 500;
			}
		}
	}
}