.dropDownProfile{
    width: 130px;
    margin-top: 15px;
    border-radius: 15px;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: -82px;
}